.row{
    margin-left: 20px;
    color:#fff;
}
.posters{
display: flex;
padding: 20px;
overflow-x: scroll;
overflow-y: hidden;
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
max-height: 250px;
margin-right: 10px;
cursor: pointer;
border-radius: 20px;
}
.smallPoster{
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 20px;
}
.poster:hover,.smallPoster:hover{
transform: scale(1.02);
transition-duration: 1s;
transition: all;
}